{{ form_start(form) }}
<div class="form-group">

 <label for="student_name"> {{ form_label(form.name)}} </laebel>
  {{ form_widget(form.name, {'attr':{'class':'form-control'}})}}
</div>
    <div class="form-group">
 <label for="student_surname">  {{ form_label(form.surname)}}  </laebel>
   {{ form_widget(form.surname, {'attr':{'class':'form-control'}})}}
    </div>
    <div>&nbsp;</div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
